* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: arial, "sans serif";	
}

.container {
	height: 400px;
	width: 400px;
	margin: 50px auto;
	border: 5px solid #132561;
	background-color: #b6dbc9;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.screen {
	height: 40%;
	width: 80%;
	margin: 0 auto;
	border: 5px solid #555755;
	background-color: #215421;
}


.MPC{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding; 
}

.MPC div {
	padding: 50px 3px;
}

.MPC div p {
	padding-top: 10px;
}

button {
	margin: 0 20px;
	height: 50px;
	width: 50px;
	border: 3px solid grey;
	border-radius: 3px;
}

button:active {
	border: 3px solid red;
	border-radius: 3px
}